@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html, body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body
{
    background: white;
}

h1
{
    font-family: "Roboto", tahoma, arial, sans-serif;
    font-size: 25px;
    text-align: left;
    margin-right: 550px;
    color: #3d464a;
    font-weight: 500;
}

h2
{
    font-family: "Roboto", tahoma, arial, sans-serif;
    font-size: 26px;
    margin-bottom: 50px;
    color: #3d464a;
}

h4
{
    font-family: "Open Sans", sans-serif, tahoma;
    font-size: 18px;
    color: #3d464a;
    padding: 7px 0;
}

p
{
    font-family: "Open Sans", sans-serif, tahoma;
    font-size: 15px;
    line-height: 28px;
    color: #3d464a;
}

img
{
    max-width: 100%;
    height: auto;
}

li
{
    color: #19a9e5;
}

a
{
    color: #19a9e5;
}

a:visited
{
    color: #3843ca;
}

a:active
{
    color: #8c2598
}

.main_container
{
    margin: 0 auto;
    background: white;
    width: 100%;
}

.list_container h2
{
    margin-bottom: 70px;
    margin-right: 60px;
    margin-left: 40px;
}

.blockquote_container
{
    margin: 120px auto;
    text-align: center;
    background: #f5f5f5;
    padding-top: 90px;
    padding-bottom: 90px;
}

.blockquote
{
    font: 36px "Roboto", tahoma, arial;
    margin: 30px auto;
    font-weight: 400;
    color: #19a9e5;
    width: 800px;
}

.title_container
{
    margin: 50px auto;
    width: 1000px;
}

.education_container
{
    margin: 70px auto;
    width: 1000px;
}

.education_container h2
{
    text-align: center;
}

.education_block
{
    margin: 50px 140px;
}

.education_block  p:first-letter
{
    color: #19a9e5;
    font-size: 20px;
}

.education
{
    width: 350px;
    text-align: center;
    border-left: 1px solid #e5e5ea;
    border-top: 1px solid #e5e5ea;
    border-bottom: 1px solid #e5e5ea;
    margin-bottom: 50px;
}

.education.right
{
    border-right: 1px solid #e5e5ea;

}

.movie_container
{
    margin: 70px auto;
    width: 1100px;
}

.movie_container h2
{
    text-align: center;
}

.movie_block
{
    width: 24%;
    padding: 3px;
    margin-bottom: 50px;
}

.photo
{
    width: 225px;
    margin-left: 50px;
}

.movie_image
{
    position: relative;
    height: 120px;
}

.movie_home
{
    height: 95px;
}

.movie
{
    width: 210px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.author
{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    opacity: 0.8;
}

.h1_title_text
{
    width: 650px;
}

.h2_title_text
{
    width: 950px;
    margin: 0 auto;
}

.hobby_container
{
    margin: 30px auto;
}

.hobby_block
{
    margin: 20px auto;
    background: #f5f5f5;
    text-align: left;
    padding: 50px 600px;
}

.hobby_block h2
{
    width: 60%;
    margin: 0 auto;
}

.hobby_block p
{
    font-weight: 600;
    line-height: 1;
}

.float_right
{
    float: right;
}

.float_left
{
    float: left;
}

.clear_both
{
    clear: both;
}

.footer_container
{
    margin-top: 150px;
    padding: 20px 180px;
    background: #bdc1c7;
    color: #181a1d;
}

.footer_block
{
    width: 800px;
    margin: 0 auto;
    padding: 10px 0;
}

.footer_separate_block
{
    padding-right: 200px;
}

@media only screen and (max-width: 320px)
{
    p
    {
        font-size: 14px;
        line-height: 20px;
    }

    ul
    {
        width: 10%;
        margin: 0 auto;
    }

    .main_container
    {
        width: 100%;
        margin: 2%;
    }

    .title_container
    {
        width: 95%;
        padding: 0 2%;
        margin: 0 2%;
    }

    .photo
    {

        margin: 0 auto;
    }

    .h1_title_text, .h2_title_text
    {
        width: 90%;
        float: none;
    }

    .float_right
    {
        float: none;
    }

    .float_left
    {
        float: none;
    }

    .blockquote_container
    {
        margin: 30px auto;
    }

    .blockquote
    {
        width: 95%;
        margin: 0 5px;
        font-size: 24px;
    }

    .education_container
    {
        width: 95%;
    }

    .education_block
    {
        margin: 50px auto;
    }

    .education
    {
        width: 75%;
        margin: 0 auto;
        border-right: 1px solid #e5e5ea;
    }

    .movie_container
    {
        width: 95%;
    }

    .movie_container h4
    {
        margin: 15px auto;
    }

    .movie_block
    {
        width: 95%;
        margin: 10px auto;
        text-align: center;
    }

    .hobby_container
    {
        width: 95%;
    }

    .hobby_block
    {
        width: 95%;
        padding: 0;
        text-align: left;
        margin: 0 auto;
    }

    .movie_image
    {
        position: relative;
        height: 120px;
    }

    .movie
    {
        width: 65%;
        right: 15%;
    }

    .footer_container
    {
        margin-top: 70px;
    }

    .footer_block
    {
        font-size: 12px;
        padding: 0;
        width: 100%;
        text-align: left;
    }

    .footer_separate_block
    {
        padding: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 440px)
{
    p
    {
        font-size: 14px;
        line-height: 20px;
    }

    ul
    {
        width: 10%;
        margin: 0 auto;
    }

    .main_container
    {
        width: 100%;
        margin: 2%;
    }

    .title_container
    {
        width: 95%;
        padding: 0 2%;
        margin: 0 2%;
    }

    .photo
    {

        margin: 0 auto;
    }

    .h1_title_text, .h2_title_text
    {
        width: 90%;
        float: none;
    }

    .float_right
    {
        float: none;
    }

    .float_left
    {
        float: none;
    }

    .blockquote_container
    {
        margin: 30px auto;
    }

    .blockquote
    {
        width: 95%;
        margin: 0 5px;
        font-size: 24px;
    }

    .education_container
    {
        width: 95%;
    }

    .education_block
    {
        margin: 50px auto;
    }

    .education
    {
        width: 75%;
        margin: 0 auto;
        border-right: 1px solid #e5e5ea;
    }

    .movie_container
    {
        width: 95%;
    }

    .movie_container h4
    {
        margin: 15px auto;
    }

    .movie_block
    {
        width: 95%;
        margin: 10px auto;
        text-align: center;
    }

    .hobby_container
    {
        width: 95%;
    }

    .hobby_block
    {
        width: 95%;
        padding: 0;
        text-align: left;
        margin: 0 auto;
    }

    .movie_image
    {
        position: relative;
        height: 150px;
    }

    .movie
    {
        width: 65%;
        right: 15%;
    }

    .footer_container
    {
        margin-top: 70px;
    }

    .footer_block
    {
        padding: 0;
        width: 90%;
        text-align: left;
    }

    .footer_separate_block
    {
        padding: 0;
    }
}

@media only screen and (min-width: 440px) and (max-width: 595px)
{
    ul
    {
        width: 10%;
        margin: 0 auto;
    }

    .main_container
    {
        width: 100%;
        margin: 2%;
    }

    .title_container
    {
        width: 95%;
        padding: 0 2%;
        margin: 0 2%;
    }

    .photo
    {

        margin: 0 auto;
    }

    .h1_title_text, .h2_title_text
    {
        width: 90%;
        float: none;
    }

    .float_right
    {
        float: none;
    }

    .float_left
    {
        float: none;
    }

    .blockquote_container
    {
        margin: 30px auto;
    }

    .blockquote
    {
        width: 95%;
        margin: 0 5px;
        font-size: 24px;
    }

    .education_container
    {
        width: 95%;
    }

    .education_block
    {
        margin: 50px auto;
    }

    .education
    {
        width: 75%;
        margin: 0 auto;
        border-right: 1px solid #e5e5ea;
    }

    .movie_container
    {
        width: 95%;
    }

    .movie_container h4
    {
        margin: 15px auto;
    }

    .movie_block
    {
        width: 65%;
        margin: 10px auto;
        text-align: center;
    }

    .hobby_container
    {
        width: 95%;
    }

    .hobby_block
    {
        width: 95%;
        padding: 0;
        text-align: left;
        margin: 0 auto;
    }

    .movie_image
    {
        position: relative;
        height: 120px;
    }

    .movie
    {
        width: 55%;
        right: 20%;
    }

    .footer_container
    {
        margin-top: 70px;
    }

    .footer_block
    {
        padding: 0;
        width: 90%;
        text-align: left;
    }

    .footer_separate_block
    {
        padding: 0;
    }
}

@media only screen and (min-width: 595px) and (max-width: 750px)
{
    ul
    {
        width: 10%;
        margin: 0 auto;
    }

    .main_container
    {
        width: 100%;
        margin: 2%;
    }

    .title_container
    {
        width: 95%;
        padding: 0 2%;
        margin: 0 2%;
    }

    .photo
    {

        margin: 0 auto;
    }

    .h1_title_text, .h2_title_text
    {
        width: 90%;
        float: none;
    }

    .float_right
    {
        float: none;
    }

    .float_left
    {
        float: none;
    }

    .blockquote_container
    {
        margin: 30px auto;
    }

    .blockquote
    {
        width: 95%;
        margin: 0 5px;
        font-size: 24px;
    }

    .education_container
    {
        width: 95%;
    }

    .education_block
    {
        margin: 50px auto;
    }

    .education
    {
        width: 75%;
        margin: 0 auto;
        border-right: 1px solid #e5e5ea;
    }

    .movie_container
    {
        width: 95%;
    }

    .movie_container h4
    {
        margin: 15px auto;
    }

    .movie_block
    {
        width: 95%;
        margin: 10px auto;
        text-align: center;
    }

    .hobby_container
    {
        width: 95%;
    }

    .hobby_block
    {
        width: 95%;
        padding: 0;
        text-align: left;
        margin: 0 auto;
    }

    .hobby_block h2
    {
        width: 25%;
        margin: 0 auto;
    }

    .movie_image
    {
        position: relative;
        height: 120px;
    }

    .movie
    {
        width: 65%;
        right: 15%;
    }

    .footer_container
    {
        margin-top: 70px;
    }

    .footer_block
    {
        padding: 0;
        width: 90%;
        text-align: left;
    }

    .footer_separate_block
    {
        padding: 0;
    }
}

@media only screen and (min-width: 750px) and (max-width: 830px)
{
    ul
    {
        width: 20%;
        margin: 0 auto;
    }

    .main_container
    {
        width: 100%;
        margin: 2%;
    }

    .title_container
    {
        width: 95%;
        padding: 0 2%;
        margin: 0 2%;
    }

    .photo
    {

        margin: 0 auto;
    }

    .h1_title_text, .h2_title_text
    {
        width: 90%;
        float: none;
    }

    .float_right
    {
        float: none;
    }

    .float_left
    {
        float: none;
    }

    .blockquote_container
    {
        margin: 30px auto;
    }

    .blockquote
    {
        width: 95%;
        margin: 0 5px;
        font-size: 24px;
    }

    .education_container
    {
        width: 95%;
    }

    .education_block
    {
        margin: 50px auto;
    }

    .education
    {
        width: 75%;
        margin: 0 auto;
        border-right: 1px solid #e5e5ea;
    }

    .movie_container
    {
        width: 95%;
    }

    .movie_container h4
    {
        margin: 15px auto;
    }

    .movie_block
    {
        width: 95%;
        margin: 10px auto;
        text-align: center;
    }

    .hobby_container
    {
        width: 95%;
    }

    .hobby_block
    {
        width: 95%;
        padding: 0;
        text-align: left;
        margin: 0 auto;
    }

    .hobby_block h2
    {
        width: 25%;
        margin: 0 auto;
    }

    .movie_image
    {
        position: relative;
        height: 120px;
    }

    .movie
    {
        width: 28%;
        right: 35%;
    }

    .footer_container
    {
        margin-top: 70px;
    }

    .footer_block
    {
        padding: 0;
        width: 90%;
        text-align: left;
    }

    .footer_separate_block
    {
        padding: 0;
    }
}

@media screen and (min-width: 830px) and (max-width: 1024px)
{
    p
    {
        font-size: 15px;
        line-height: 24px;
    }

    ul
    {
        width: 20%;
        margin: 0 auto;
    }

    .main_container
    {
        width: 100%;
        margin: 1%;
        max-width: 1000px;
    }

    .title_container
    {
        width: 95%;
        padding: 0 2%;
        margin: 0 2%;
    }

    .photo
    {

        margin: 0 auto;
    }

    .h1_title_text, .h2_title_text
    {
        width: 90%;
        float: none;
    }

    .float_right
    {
        float: none;
    }

    .float_left
    {
        float: none;
    }

    .blockquote_container
    {
        margin: 30px auto;
    }

    .blockquote
    {
        width: 95%;
        margin: 0 5px;
        font-size: 24px;
    }

    .education_container
    {
        width: 95%;
    }

    .education_block
    {
        margin: 50px auto;
    }

    .education
    {
        width: 75%;
        margin: 0 auto;
        border-right: 1px solid #e5e5ea;
    }

    .movie_container
    {
        width: 95%;
    }

    .movie_container h4
    {
        margin: 15px auto;
    }

    .movie_block
    {
        width: 95%;
        margin: 10px auto;
        text-align: center;
    }

    .movie_image
    {
        position: relative;
        height: 200px;
    }

    .movie
    {
        width: 35%;
        right: 30%;
    }

    .hobby_container
    {
        width: 95%;
    }

    .hobby_block
    {
        width: 95%;
        padding: 0;
        text-align: left;
    }

    .hobby_block h2
    {
        text-align: center;
        margin-bottom: 30px;
    }

    .footer_container
    {
        margin-top: 70px;
    }

    .footer_block
    {
        padding: 0;
        width: 90%;
        text-align: left;
    }

    .footer_separate_block
    {
        padding: 0;
    }
}