html, body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main_container
{
    margin: 50px auto;
    width: 1000px;
}

body
{
    background: black url(../image/bmw-x6.jpg) no-repeat;
    color: black; /* Цвет текста */
}

h1
{
    font-family: Arial, Verdana, sans-serif; /* Гарнитура текста */
    font-size: 70px; /* Размер шрифта  */
    color: #000000;
    text-align: left;
    text-shadow: grey 2px 3px 4px;
    line-height: 70px;
    margin-left: 120px;
}

h2
{
    font-family: Oswald, Arial, Verdana, sans-serif;
    font-size: 45px; /* Размер шрифта  */
    color: #2F4F4F;
    text-align: left;
    margin-left: 120px;
}

h3
{
    font-family: Oswald, Arial, Verdana, sans-serif;
    font-size: 50px; /* Размер шрифта  */
    color: black;
    text-shadow: grey 2px 3px 4px;
    text-align: left;
    margin-left: 100px;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Размер шрифта в пунктах */
}

p.legend
{
    font-size: 14px;
    font-weight: bold;
}

p.description
{
    margin-left: 20px;
}
table
{
    width: 25%; /* Ширина таблицы */
    background-color: rgba(255, 255, 255, 0.2);
    color: black; /* Цвет текста */
    border: #000000;
    border-spacing: 1px; /* Расстояние между ячейками */
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
    text-align: left;
    margin-right: 70px;
    margin-left: 30px;
}

table.assembly
{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    font-size: 14px;
}

.float_left
{
    float: left;
}

th
{
    background-color: rgba(255, 255, 255, 0.3);
}

td, th
{
    border-bottom: 1px solid black;
}

form
{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 256px;
    float: right;
    margin-right: 50px;
}

.container_background
{
    background-color: rgba(255, 255, 255, 0.4);
}

div.table_container
{
    margin-bottom: 230px;
}

div.form_container
{
    margin-bottom: 300px;
}

div.title_container
  {
      margin-bottom: 550px;
  }