html, body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main_container
{
    margin: auto;
    width: 1000px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px #808080;
}

body
{
    background: #edeef0;
    color: black;
}

h1
{
    font-family: Arial, Verdana, sans-serif;
    font-size: 60px;
    color: #000000;
    text-align: left;
    text-shadow: grey 2px 3px 4px;
    line-height: 60px;
    margin-left: 120px;
}

h2
{
    font-family: Oswald, Arial, Verdana, sans-serif;
    font-size: 35px;
    color: #2F4F4F;
    text-align: left;
    margin-left: 120px;
}

h3
{
    font-family: Oswald, Arial, Verdana, sans-serif;
    font-size: 45px;
    color: black;
    text-shadow: grey 2px 3px 4px;
    text-align: left;
    width: 700px;
    margin-left: 20px;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 630px;
}

.legend
{
    font-size: 14px;
    font-weight: bold;
}

.description
{
    margin-left: 20px;
}

table
{
    width: 25%;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    border: #000000;
    border-spacing: 1px;
    border-collapse: collapse;
    text-align: left;
    margin-right: 70px;
    margin-left: 30px;
}

.assembly
{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    font-size: 14px;
}

.float_left
{
    float: left;
}

.clear_left
{
    clear: both;
}

th
{
    background: #f0efee;
}

td, th
{
    border-bottom: 1px solid black;
}

.assembly_cell
{
    padding: 5px 10px;
}

form
{
    border-radius: 10px;
    background: linear-gradient(to top left, #d6d5d0, #ffffff);
    width: 256px;
    float: right;
    margin-right: 30px;
    padding: 5px;
}

.line
{
    background: #f9f9f9;
}

.form_block
{
    margin-bottom: 10px;
}

.table_container
{
    margin-bottom: 230px;
}

.form_container
{
    margin-bottom: 300px;
}

.title_container
{
    background: black url(../image/bmw-x6.jpg) no-repeat;
    background-size: 1000px auto;
    margin-bottom: 25px;
    height: 400px;
}