html, body
{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
body
{
    background: #2F4F4F url(../image/bmw-x6.jpg) no-repeat;
    color: #000000; /* Цвет текста */
}
h1
{
    font-family: Arial, Verdana sans-serif; /* Гарнитура текста */
    font-size: 70px; /* Размер шрифта  */
    color: #2F4F4F;
    text-align: center;
    text-shadow: grey 2px 3px 4px;
    line-height: 0.5;
}
p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Размер шрифта в пунктах */
}
table
{
    width: 25%; /* Ширина таблицы */
    background: white;/* Цвет фона таблицы */
    opacity: 0.7;/*Прозрачность таблицы*/
    color: black; /* Цвет текста */
    border: #000000;
    border-spacing: 1px; /* Расстояние между ячейками */
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
    text-align: left;
    float: left;
    margin-bottom: 15%;
}
table.two
{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
th
{
    background: #C0C0C0;
}
td, th
{
    border-bottom: 1px solid black;
}
form
{
    border: 4px solid #DCDCDC;
    border-radius: 8px;
    background: #DCDCDC;
    opacity: 0.9;
    width: 256px;
    align: right;
    float: right;
}
legend
{
    font-size: 14px;
    font-weight:bold;
}