//colors
$white: #ffffff;
$text_color: #506a85;
$buttom_border_color: #00a085;
$buttom_background: #00bc9c;
$header_text_color: #f5f7fa;
$title_background_color: #3f3c67;
$h1_text_color: #a3b1bf;
$works_conteiner_background: #f2f5f7;
$menu_bottom_background: #2f4052;
$menu_bottom_text: #72808f;
$footer_background: #283645;
$footer_text: #72808f;